.six.column.box.big_m.clouds.white-text
  %h1 InsurETH
  %p View your active contract

.six.column.box
  %p.bold Contract
  %p #{@contract_id}
  .spacer20
  %p todo

  %p Your address:
  %p.bold.deposit_address (loading...)

  -# TODO: we know the user's address through the localStorage
