!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title FlyEther
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/normalize.css",  :rel => "stylesheet"}/
    %link{:href => "/css/skeleton.css",   :rel => "stylesheet"}/
    %link{:href => "/css/style.css",      :rel => "stylesheet"}/
    %link{:href => "/images/favicon.png", :rel => "icon", :type => "image/png"}/
  %body
    = yield

    %script{:src => "/bower_components/web3/dist/web3.js", :type => "text/javascript"}
    %script{:src => "/js/vendor/zepto.js", :type => "text/javascript"}
    %script{:src => "/js/flyether.js", :type => "text/javascript"}
